project/*
project/.boot/*
project/.sbtboot/*
project/.ivy/*
project/target/*
project/project/*
target/*
.idea
.history
.bsp/


.metadata
.cache-main
.classpath
.project
.settings
*.class
*.orig
*.log

.DS_Store
*.iml
scalastyle-output.xml
